@import "../../../global.scss";

.menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $mainTranspColor;
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    width: 60%;
    line-height: 200%;
    text-align: center;
  }
  Link, a {
    font-size: 25px;
    color: $lightColor;
    text-decoration: none;
  }
Link:hover, a:hover{
    color: $lightColor;
    text-decoration: underline;
  }
}