@import "../../../global.scss";

.galleryList {
  width: 25%;
  font-size: 14px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  marker:none;
  @include mobile{
    margin-right: 20px;
  }
  &.active {
    color: $mainColor;
    .item {
      background-color: $mainColor;
      color: $lightColor;
    }
    img {
      opacity: 0.2;
      z-index: 0;
    }
  }

  .textItem {
    //display: none;
    align-items: center;
    justify-content: center;
    @include mobile{
      display: flex;
    }
  }
  

  .item {
    width: 100%;
    height: 110px;
    border-radius: 10px;
    border: 1px solid rgb(240, 239, 239);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $lightColor;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;

    @include mobile{
      display: none;
    }

    h3 {
      position: absolute;
      font-size: 20px;
    }

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
}
.galleryList:hover {
  color: $mainColor;
  .item {
    background-color: $mainColor;
    img {
      opacity: 0.2;
      z-index: 0;
    }
  }
}
