@import "../../../global.scss";

.accSingle {
  width: 700px;
  font-size: 14px;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  margin: 20px 0 ;
  @include mobile{
    width: 80%;
  }
  &:hover {
    box-shadow: 0px 0px 15px -8px $darkColor;
    transition: all .5s ease;
    transform: scale(1.05);
  }
  .item {
  border-radius: 10px;
  background-color: $lightColor;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  transition: all .5s ease;
  cursor: pointer;
    .visible {
      display: flex;
      height: 150px;
      flex-direction: row;
      .left {
        width: 40%;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .leftContainer {
          width: 90%;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h2 {
            font-family: $cardHeadFont;
            font-size: 40px;
            @include mobile{
              font-size: 25px;
            }
          }
          h3 {
            font-family: $cardHeadFont;
            font-size: 30px;
            margin: 10px 0;
            color: $accent1Color;
            @include mobile{
              font-size: 20px;
            }
          }
          h4 {
            font-family: $cardHeadFont;
            font-size: 20px;
            margin-bottom: 5px;
            @include mobile{
              margin-bottom: 0;
              font-size: 16px;
            }
          }
          span {
            font-size: 14px;
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .right {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          width: 100%;
        }
        .sign {
          z-index: 1;
          position: relative;
          right: 50px;
          @include mobile{
            width: 20px;
          }
          img {
            transition: all .5s ease;
            color: $darkColor;
            width: 30px;
            @include mobile{
              width: 20px;
            }

          }

        }
      }
    }
    .descrip {
      position: relative;
      display:none;
      margin: 20px;
      p {
        padding: 10px 0;
        font-size: 18px;
      }
    }
  }
}
.accSingle.active {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px -8px $darkColor;
  .item {
    .visible {
      .right {
        .sign {
          img {
            transition: all .5s ease;
            transform: rotate(180deg);
          }
        }
      }
    }
    .descrip {
      display: flex;
    }
  }
}

