@import "../../global.scss";

.topbar {
  width: 100%;
  height: $topBarHeight;
  background-color: $lightColor;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;

  .wrapper {
    padding: 10px $sidePadding;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        font-family: $headerFonts;
        font-size: 35px;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
        transition: 1s;
      }
    }

    .right {
      .itemContainer {
        transition: all 1s ease-out;
        display: flex;
        align-items: center;
        margin-left: 30px;
        @include mobile {
          display: none;
        }
        .icon {
          font-size: 18px;
          margin-right: 5px;
        }
        a {
          font-size: 20px;
          text-decoration: none;
          color: $topBarLinkColor;
          margin: 0 10px;
        }
        a:hover {
          color: $linkColor;
        }
      }
      .hamburger {
        width: 25px;
        height: 18px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        @include mobile {
          display: flex;
        }

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }
  &.active {
    .logo {
      color: $lightColor;
    }
    background-color: $mainColor;
    color: $lightColor;
    .hamburger {
      span {
        &:first-child {
          background-color: $lightColor;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: $lightColor;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
