@import "../../../global.scss";

.fsheader {
  display: flex;
  padding-top: $topBottomPadding;
  padding-bottom: $topBottomPadding;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $darkColor;
  }
  .divider {
    font-size: 20px;
    color: $mainColor;
  }
}
