@import "../../../global.scss";

.activities {
  background-color: $background2Color;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: $topBottomPadding 0;
  
  h1 {
    color: $darkColor;
  }

  .cards {
    .container {
      .item {
        .left {
          .leftContainer {
            .companyContainer {
              height: 35px;
              display: flex;
              flex-direction: row;
              align-items: center;
              @include mobile {
                height: 30px;
              }
              .imgContainer {
                width: 30px;
                height: 30px;
                display: none;
                margin-right: 10px;
                @include mobile {
                  width: 30px;
                  height: 30px;
                  display: flex;
                }
                img {
                  width: 30px;
                  //border-radius: 50%;
                  @include mobile {
                    width: 30px;
                  }
                }
              }
            }
            h2 {
              margin-bottom: 5px;
            }
          }
        }
        .right {
          margin-left: 10px;
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
