@import "../../../global.scss";

.findneedle {
  background-color: rgb(226, 224, 205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

.needleHead {
  margin: 20px 0;
  .descr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .icon {
    height: 40px;
    margin: 0 10px;
  }
}
.gameBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  display: flex;
  //margin: auto;
  overflow: hidden;
}
.img-back-cont {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.back {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: 0;
}
.needle-wrapper {
  justify-content: center;
  width: 45px;
  padding: 2px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  transition: opacity 0.5s ease;
  color: white;
  border-radius: 5px;
}
.needle-wrapper.found {
  background-color: rgba(226, 224, 205, 0.774);
}
.needle {
  z-index: 1;
  opacity: 0.5;
  width: 40px;
}
.findneedle .foundDis {
  display: none;
}
.findneedle .foundDis.display {
  align-self: center;
  justify-self: center;
  width: 100px;
  position: relative;
  top: -300px;
  //left: 42%;
  z-index: 2;
  display: inline-block;
  background-color: rgba(212, 211, 145, 0.774);
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.findneedle .gameBox button {
  width: 100px;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  background: rgb(218, 203, 70);
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  //transition: all 0.12s ease-in-out;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  &:hover {
    box-shadow: 0px 0px 15px -8px white;
    transition: all .5s ease;
  }
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  //margin-top: 285px;
}