@import "../../global.scss";

.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  button {
    width: 150px;
    height: 40px;
    color: $lightColor;
    background-color: $flowerMainColor;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.resume-wrapper {
  display: flex;
  height: fit-content;
  justify-content: center;
  box-shadow: 0px 0px 15px -8px black;
  @media (max-width: 8.5in) {
    justify-content: unset;
  }
}

.resume-container {
}

.resume {
  display: flex;
  flex-direction: column;
  width: 7.5in;
  height: 10.4in;
  color: black;
  padding: 0.3in 0.5in;
  row-gap: 6px;
}
.resume * {
  font-family: "Lato", sans-serif;
}
.resume h1,
.resume h2 {
  color: #741b47;
  text-transform: uppercase;
  font-weight: bold;
}
.resume h1 {
  font-size: 22pt;
}
.resume h2 {
  font-size: 14pt;
}
.resume h3 {
  font-size: 12pt;
  font-weight: bold;
  text-transform: unset;
}
.resume h4 {
  font-size: 11pt;
  text-transform: unset;
}
.resume h5 {
  font-size: 11pt;
  font-weight: bold;
  text-transform: unset;
}
.resume h6 {
  font-size: 11pt;
  font-weight: normal;
  text-transform: unset;
}
.resume p {
  margin-left: 10px;
  font-size: 10pt;
  text-indent: -10px;
}
.resume a {
  all: unset;
  cursor: pointer;
}
.resume ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  line-height: 120%;
}
.resume li {
  margin-left: 10px;
  font-size: 10pt;
  text-indent: -10px;
}
.resume .icon {
  color: #741b47;
  font-size: 13pt;
}
.resume hr {
  border-color: #741b47;
}
.resume .header {
  row-gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}
.resume .header .contacts {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.resume .contact-and-icon {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  align-items: flex-end;
}
.resume .section {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4px;
}
.resume .skill-list-name {
  display: flex;
  column-gap: 5px;
  align-items: flex-end;
}
.resume .skillList {
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.resume .data {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 6px;
  padding: 5px 0;
}
.resume .entry {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4px;
}
.resume .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.resume .plainline {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 5px;
  align-items: center;
}

.resume .bolded {
  font-weight: 700;
}