@import "../../../global.scss";
@import "../../../components/textAndPicture.scss";

.aboutLarge {
  background-color: $background2Color;
  display: flex;
  //padding-top: $topBottomPadding;
  //padding-bottom: $topBottomPadding;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $mainColor;
  }
}
