@import "../../../global.scss";

.aboutSmall {
  background-color: $background2Color;
  display: flex;
  //padding-top: $topBottomPadding;
  //padding-bottom: $topBottomPadding;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $darkColor;
    margin-top: 30px;
  }
}
