@import "../../../global.scss";

.intro {
  background-color: $lightColor;
  display: flex;
  height: $pageHeight;
  overflow-x: hidden;
  @include mobile{
    height: 500px;
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    @include mobile{
      flex: 0.4;
    }
    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: $accent1Color;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      @include mobile{
        border-radius: 0;
        align-items: flex-start;
      }
      img {
        height: 90%;
        @include mobile{
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    @include mobile{
      flex: 0.6;
      //padding-top: $topBottomPadding;
      padding-bottom: $topBottomPadding;
    }
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        padding-left: 0;
        align-items: center;
      }
      h1 {
        font-size: 80px;
        @include mobile{
          font-size: 60px;
        }
        span {
          font-family: $headerFonts;
          font-size: inherit;
          color: $accent1Color;
        }
      }
      h2 {
        font-size: 50px;
        @include mobile{
          font-size: 45px;
        }
        span {
          font-family: $header2Fonts;
        }
      }
      h3 {
        font-size: 40px;
        .ityped-cursor {
          animation: blink 1s infinite;
        }
        span {
          font-family: $header2Fonts;
        }
        @keyframes blink {
            50%{opacity: 1;}
            100%{opacity: 0;}
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;
      @include mobile{
        bottom: 30px;
      }
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
