$mainColor: #f08098;
$middleMainColor: #f88aa2;
$lightMainColor: #f8c8c6;
$veryLightMainColor: #fff5f8;
$mainTranspColor: #f08098f5;
$lightColor: white;
$darkColor: #051225;
$flowerMainColor: #f08098;
$grey1Color: #808080;
$cinnamon-satin: #f092b7;
$silver-pink: #fcdee7;
$dark-olive-green: #95a351;
$rose-red: #e2316c;
$antique-bronze: #ffa3b7;

$circleColor: $lightMainColor;
$techColor: $mainColor;
$companyColor: #747474;
$linkColor: #238bad;
$linkHColor: #add8e6;
$topBarLinkColor: #051225;
$background1Color: #2b2b2b;
$background2Color: white;

//#fbd0da w #5f071c
//2e2f4a #212529
$headerFonts: 'Montserrat', Arial, Helvetica, sans-serif;
$header2Fonts: 'Montserrat', Arial, Helvetica, sans-serif;
$cardHeadFont: 'Montserrat', Arial, Helvetica, sans-serif;
$cardColor: #ffffff;
$cardColorDark: #f0ebf4;

$topBarHeight: 60px;
$pageHeight: calc(100vh - 60px);
$sidePadding: calc(0.03 * 100vw);
$topBottomPadding: 30px;
//@import '../../global.scss/';

$mobileWidth: 768px;

@mixin mobile {
    @media (max-width: #{$mobileWidth}){
        @content
    }
}

h3, h4, h5, h6 {
  font-family: $header2Fonts;
  font-weight: 400;
  //font-weight: 400;
  //font-family: 'Libre Baskerville', serif;
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Source Sans Pro', sans-serif;
}

a, Link {
  font-size: 16px;
  color: $linkColor;
  font-family: $header2Fonts;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $linkHColor;
  }
}

p {
  font-size: 16px;
}

h1 {
  text-transform: uppercase;
  font-family: $headerFonts;
  font-weight: 300;
  font-size: 50px;
  @include mobile{
    font-size: 40px;
  }
}
h2 {
  font-family: $headerFonts;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  @include mobile{
    font-size: 25px;
  }
}
h3 {
  text-transform: uppercase;
  font-size: 25px;
  @include mobile{
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

h6 {
  text-transform: uppercase;
  font-size: 25px;
  @include mobile{
    font-size: 20px;
  }
}

.divider {
  font-size: 20px;
  color: $mainColor;
}

.textSection {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $darkColor;
  }
}