@import "../../../global.scss";

$weatherBack: rgb(234, 241, 243);
$weatherC: rgb(215, 234, 240);
$textColor: #4F5D73;
$accentTextColor: rgb(114, 126, 142);

.weather {
  // text-align: center;
  display: flex;
  flex-wrap: wrap;
  background: $weatherBack;
  color: $textColor;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
  
.weather h2 {
  text-transform: none;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  font-weight: bold;
}
.weather-wrapper-all {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  color: $textColor;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  @media (max-width: 920px) {
    flex-direction: column;
    align-items: center;
  }

}

.search-head {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  transition: all 1s ease;
}

.title {
  transition: all 1s ease;
  justify-content: center;
  width: 300px;
  img {
    height: 100px;
  }
  h1 {
    @include mobile {
      font-size: 60px;
    }
  }
  @include mobile {
    margin-left: 5px;
    margin-right: 5px;
  }
  .descrip {
    display: inline-block;
    width: 100%;
    color: $accentTextColor;
    font-size: 17px;
  }
}

/* start Form */
.search-container {
  //margin: auto;
  justify-content: center;
}

.form {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: default;
  width: 100%;
}

.search-container .search-row {
  width: 100%;
  margin: 10px 0;
}

.search-container .search-text {
  width: 200px;
  padding: 0 25px;
  display: inline-block;
  height: 45px;
  border-radius: 25px;
  border-color: $weatherC;
  font-size: 16px;
  @include mobile {
    width: 200px;
  }
}

.search-container .getw-btn {
  width: 200px;
  height: 45px;
  padding: 0 25px;
  border-radius: 25px;
  border: none;
  background: $weatherC;
  color: $textColor;
  font-weight: 700;
  font-size: 15px;
  margin: 5px auto;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 15px -8px black;
    transition: all .5s ease;
    //transform: scale(1.05);
  }
}

.weather-card-wrapper {
  display:flex;
  position: relative;
  right: -100vw;
}
.weather-card-wrapper.display {
  display: flex;
  right: 0;
}

.weather-card {
  //height: fit-content;
  display:flex;
  position: absolute;
  right: -100vw;
  flex-direction: row;
  align-items: center;
  background-color: $weatherC;
  color: $textColor;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.weather-card.display {
  position: relative;
  right: 0;
  margin: 15px 0;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -8px $darkColor;
  transition: right 1s ease;
  @media (max-width: 600px) {
    padding: 30px 10px;
    width: 80vw;
  }
}


/* Start WeatherHead */
.weather-head {
  width: 80%;
  //padding: 18px;
  //text-align: left;
  color: $textColor;
  display: flex;
  .data-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px 10px;
  // .when {
  //   font-size: 17px;
  //   color: $accentTextColor;
  //   margin-bottom: 10px;
  // }
  .location {
    font-size: 25px;
    font-weight: bold;
  }
  .temp-container {
    display: flex;
    flex-direction: row;
    justify-content: default;
    align-items: center;
    .weather-icon {
      width: 150px;
      @media (max-width: 500px) {
        width:100px;
      }
    }
    .temp {
      font-size: 80px;
      font-weight: bold;
      @media (max-width: 500px) {
        font-size: 50px;
      }
      .degree {
        font-size: 25px;
      }
    }
  }
  .condit {
    font-size: 25px;
    font-weight: bold;
  }
}
}


.weather-details {
  width: 80%;
  //padding: 0 20px;
  margin: 0 auto;
  text-align: left;
  display: flex;
}

.weather-details .weather-stat {
  margin-left: 20px;
  display: flex;
  width: 100%;
  //margin: 5px 0;
  font-size: 17px;
  //border-bottom: 1px solid rgba(179, 179, 179, .3);
  //padding: 5px 0;
  align-items: center;
  .stat-title {
    display: flex;
    color: $accentTextColor;
    font-size: 15px;
    margin: 10px;
  }
  @media (max-width: 600px) {
    margin-left: 0;
  }
}

.weather .error {
  height:fit-content;
  padding: 15px;
  background: $weatherC;
  border-radius: 4px;
  color: $textColor;
  font-weight: 700;
  overflow-wrap: break-word;
  text-align: center;
}

/* start Footer */
.footer {
  width: 75%;
  padding: 25px 10px 25px;
  text-align: center;
  margin: auto;
  border-top: 1px solid #ccc;
  color: #9d9d9d;
  font-size: 12px;
}

.footer a {
  color: #ccc;
}


/* media queries*/
/* for medium screens */
// @media screen and (min-width: 501px)and (max-width: 600px) {
//   .weather-head, .weather-details {
//     padding: 18px 35px;
//   }
// }

// @media screen and (min-width: 601px) {
//   .weather-head {
//     width: 50%;
//     margin-left: auto;
//     padding: 35px;
//   }
  
//   .weather-details {
//     padding: 18px 35px;
//   }

//   .weather-head .main-data {
//     flex-wrap: wrap;
//   }

//   .weather-head .temp {
//     width: 100%;
//     margin-bottom: 20px;
//   }

//   .weather-head .vertical-line {
//     display: none;
//   }

//   .weather-head .location {
//     width: 100%;
//   }

//   .weather-details {
//     width: 50%;
//   }
  
// }


// /* for large screens */
// @media screen and (min-width: 751px) {
//   .weather-head .temp {
//     width: 35%
//   }

//   .weather-head .vertical-line {
//     display: inline-block;
//   }

//   .weather-head .location {
//     width: 40%;
//   }

//   .weather-details {
//     width: 50%;
//   }

// }

// @media screen and (min-width: 900px) {
//   .weather {
//     width: 900px;
//     margin: 10px auto;
//   }
// }