@import "../../../global.scss";
@import "../../../components/textAndPicture.scss";

.aboutSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  .textAndPicture {
    max-width: 1300px;
    .text-picture-container {
      .left {
        img {
          height: 400px;
          object-fit: contain;
        }
      }
      h4 {
        color: $mainColor;
      }
      p {
        color: $darkColor;
      }
    }
  }
  h2 {
    color: $darkColor;
    margin-top: 30px;
  }
  .skills {
    background-color: $background2Color;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;

    h2 {
      color: $darkColor;
    }
  }
}
