@import "../../../global.scss";

.intro {
  display: flex;
  height: $pageHeight;
  min-height: 600px;
  max-height: 1200px;
  overflow: hidden;
  @include mobile {
    height: 500px;
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 6;
    overflow: hidden;
    transition: flex 1s ease;
    .imgContainer {
      width: 100vh;
      height: 100vh;
      min-width: 600px;
      min-height: 600px;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      @include mobile{
        border-radius: 0;
        align-items: flex-start;
      }
      img {
        height: 100%;
        @include mobile{
          height: 50%;
        }
      }
    }
  }
  .right {
    display: flex;
    flex: 3;
    position: relative;
    align-items: center;
    .wrapper {
      width: 100%;
      //height: 100%;
      padding-left: 50px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        padding-left: 0;
        align-items: center;
      }
      .l1 {
        font-weight: 300;
        font-size: 90px;
        @include mobile{
          font-size: 50px;
        }
        span {
          font-family: $headerFonts;
          font-size: inherit;
          color: $flowerMainColor;
        }
      }
      .l2 {
        font-weight: 300;
        font-size: 60px;
        @include mobile{
          font-size: 40px;
        }
        span {
          text-decoration: underline $purpleColor ;
          font-family: 'Clicker Script', cursive;
        }
      }
      .l3 {
        margin-top: 10px;
        font-weight: 300;
        font-size: 40px;
        .ityped-cursor {
          animation: blink 1s infinite;
        }
        span {
          color: $linkColor;
          font-family: $headerFonts;
          
        }
        @keyframes blink {
            50%{opacity: 1;}
            100%{opacity: 0;}
        }
        @include mobile{
          font-size: 30px;
        }
      }
    }
    a {
      position: relative;
      bottom: 30px;
      @include mobile{
        //bottom: 30px;
      }
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
