@import "../../../global.scss";

.projects {
  background-color: $background1Color;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: $topBottomPadding 0;
  
  h1 {
    color: $lightColor;
  }
}
